<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Olivia Tours</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/css/my_style.css">
    <link rel="stylesheet" href="/static/css/responsive1.css">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">



</head>

<body>

    <div class="boxed_wrapper">


        <header class="main-header">
            <div class="header-top">
                <div class="container">
                    <!--Top Left-->
                    <!-- <div class="top-left pull-left">
                <ul class="links-nav clearfix">
                    <li><a href="#">We are Born to serve you better...</a></li>
                </ul>
            </div> -->

                    <!--Top Right-->
                    <div class="top-right pull-right">
                        <!-- <ul class="links-nav clearfix">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Latest News</a></li>
                </ul> -->
                        <ul class="social">
                            <li><a href="https://www.facebook.com/olivia/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/olivia"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-upper">
                <div class="container">
                    <div class="clearfix">

                        <div class="pull-left logo-outer">
                            <div class="logo">
                                <a href="index.html"><img src="/static/img/logo/logo.jpg" alt="" title="Beirut Finance"></a>
                            </div>
                        </div>

                        <div class="pull-right upper-right clearfix">

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon_box"><span class="icon-signs"></span></div>
                                Olivia Tours <br><span class="bottom-text"> 211, Salalah New York<br>Sultanate of Oman 535022</span>
                            </div>

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon_box"><span class="icon-global"></span></div>
                                Office: +968&nbsp;&nbsp;96433490<br>Support: +968&nbsp;&nbsp;93120005<br><span class="bottom-text">ottsalalah@gmail.com </span>

                            </div>

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon_box"><span class="icon-clock"></span></div>
                                WORKING HOURS <br><span class="bottom-text"> Sat-Thu: 08.00am to 5.00pm</span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </header>


        <section class="mainmenu-wrapper stricky">
            <div class="container">
                <div class="menu-bg clearfix" style="padding-top: 8px">
                    <nav class="mainmenu-holder pull-left">
                        <div class="nav-header">
                            <ul class="navigation">

                                <li class="menu-active"><a href="#home">Home</a></li>
                                <li><a href="#about-us">About Us</a></li>
                                <li><a href="#why-us">Why Choose Us</a></li>
                                <li><a href="#destinations">Our Destinations</a></li>
                                <li><a href="#contact">Contact Us</a></li>

                            </ul>
                        </div>
                        <div class="nav-footer hidden-lg">
                            <ul>
                                <li><button class="menu-expander"><i class="fa fa-list-ul"></i></button></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </section>


        <section id="home" class="rev_slider_wrapper ">
            <div id="slider1" class="rev_slider" data-version="5.0">
                <ul>
                    <li data-transition="fade">

                        <img src="/static/img/slider/1.png" alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                        <div class="tp-caption sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="0" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="1000">
                            <div class="content-box">
                                <h2 class="theme_color">Welcome to Olivia Tours</h2>
                                <div class="text">
                                    <p><i>Come With Us<br> Lets Explore the World together</i><br></p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li data-transition="fade">
                        <img class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100"
                            data-scalestart="140" src="/static/img/slider/2.png" alt="image">

                        <div class="tp-caption sfr sfb tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="0" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="1000">
                            <div class="content-box">
                                <h2 class="theme_color">Olivia Tours </h2>
                                <div class="text">
                                    <p><i>Olivia Tours believes that, In a constantly changing market<br> filled with technology and data, customer have the power.<br> We offer new dimension of tour packages</i><br></p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li data-transition="fade">
                        <img class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100"
                            data-scalestart="140" src="/static/img/slider/3.png" alt="image">

                        <div class="tp-caption sfl sfb tp-loop-wrap" data-x="left" data-hoffset="15" data-y="center" data-voffset="0" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="1000">
                            <div class="content-box">
                                <h2 class="theme_color">
                                    </i>Olivia Tours</h2>
                                <div class="text">
                                    <p><i> FROM NEGATIVE To POSTIVE, We help our clients to create experiences,<br> that play a meaningful role in people's lives.</i><br></p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li data-transition="fade">
                        <img class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100"
                            data-scalestart="140" src="/static/img/slider/4.png" alt="image">

                        <div class="tp-caption sfl sfb tp-loop-wrap" data-x="left" data-hoffset="15" data-y="center" data-voffset="0" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="1000">
                            <div class="content-box">
                                <h2 class="theme_color">Olivia Tours</h2>
                                <div class="text">
                                    <p><i>SMART tours connect SMART people<br> in a SMART Way</i><br></p>
                                </div>
                            </div>
                        </div>

                    </li>



                </ul>
            </div>
        </section>

        <section id="about-us" class="about-section wow fadeInUp">
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>About Olivia Tours</h2>
                            <span class="decor"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4>Years Experience in This Industry</h4>
                        <br>
                        <div class="text">
                            <p>Olivia Tours, a Technology company based in Doha- Qatar, established in 2016 with focus to provide Internet based solutions and services and create awareness about new trend internet solutions to the society and local industries.
                                By creating a market for itself Olivia Tours has an edge over its competition.</p><br>
                            <p>Olivia Tours do not focus on traditional IT business. We focus on providing services using internet medium enabling society to interact with solution providers faster that makes their daily life easy. </p>
                        </div>
                        <div class="call-out clearfix">
                            <div class="pull-left"><a href="about.html" class="thm-btn thm-color thm-tran-bg">more about us</a></div>
                            <div class="pull-left">
                                <p class="phone-number"><i class=""></i><span>hotline</span> <br>+968&nbsp;&nbsp;96433490</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="video-box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                            <img src="/static/img/home/video.png" alt="image" class="tran7s">
                            <a href="https://www.youtube.com/embed/eAaP03Qs6cE?autoplay=1" class="fancy_video fancybox.iframe tran3s">
                                <div><span><img src="/static/img/icons/play.png" alt=""></span></div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="destinations" class="project_gallery style-2">
            <div class="container-fluid">
                <div class="gallery_carousel">
                    <div class="item">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/img/gallery/1.png" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4>Camel Safari</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->

                            <div class="caption-box-one">
                                <a href="portfolio-single-two.html" class="proj-link">Oman</a>
                                <a href="/static/img/gallery/1.png" data-fancybox-group="example-gallery" class="fancybox proj-view">Oman Tours<span class="fa fa-sort-desc"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/img/gallery/2.png" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4>Deep lake</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->

                            <div class="caption-box-one">
                                <a href="portfolio-single-two.html" class="proj-link">Dubai</a>
                                <a href="/static/img/gallery/2.png" data-fancybox-group="example-gallery" class="fancybox proj-view">Dubai Tours<span class="fa fa-sort-desc"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/img/gallery/3.png" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4>Green Meadows</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->

                            <div class="caption-box-one">
                                <a href="portfolio-single-two.html" class="proj-link">Oman</a>
                                <a href="/static/img/gallery/3.png" data-fancybox-group="example-gallery" class="fancybox proj-view">Oman Tours<span class="fa fa-sort-desc"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/img/gallery/4.png" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4>Oman Airways</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->

                            <div class="caption-box-one">
                                <a href="portfolio-single-two.html" class="proj-link">Oman</a>
                                <a href="/static/img/gallery/4.png" data-fancybox-group="example-gallery" class="fancybox proj-view">Oman Tours<span class="fa fa-sort-desc"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/img/gallery/5.png" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4>Farm Land</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->

                            <div class="caption-box-one">
                                <a href="portfolio-single-two.html" class="proj-link">Dubai</a>
                                <a href="/static/img/gallery/5.png" data-fancybox-group="example-gallery" class="fancybox proj-view">Dubai Tours<span class="fa fa-sort-desc"></span></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="text-link text-center">
                <div class="container">
                    <h4>YOU CAN FIND US ALL OVER HERE
                </div>
            </div>
        </section>

        <section id="contact" class="contact-section wow fadeInUp" style="background-image: url(static/img/background/contact.png);">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="transparent-box">
                            <div class="section-title">
                                <h2>Request a Call Back</h2>
                                <span class="decor"></span>
                            </div>
                            <p><span>For Tour Booking: </span> For Tour inquiry fill our short feedback form or you can also send us an email on ottsalalah@gmail.com and we’ll get in touch shortly, or contact us @ +968 96433490.</p>
                            <!-- <p><span>Note: </span> Your details are kept strictly confidential as per our Company Privacy Policy.</p> -->
                        </div>
                    </div>
                    <!--Form Column -->
                    <div class="column form-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!--form-box-->
                        <div class="form-box default-form">
                            <div class="default-form">
                                <form action="." method="post" id="contactForm" class="home-contact-form contact-form select-form">
                                    <div class="row clearfix">
                                    <div class="alert">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="g-input f1 mb-30">
                                                <select  id="cntct_subject" class="text-capitalize selectpicker" data-style="g-select" data-width="100%">
				                                <option value="0" selected="">I would like to discuss:</option>
				                                <option value="1">I would like to discuss:</option>
				                                <option value="2">I would like to know about:</option>
				                                <option value="3">I would like to suggest:</option>
				                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="cntct_name" name="username" value="" placeholder="Your Name *" required>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" id="cntct_email" value="" placeholder="Your Mail *" required>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="phone" id="cntct_mobile" value="" placeholder="Phone Number">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="thm-btn" id="new_cntct">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </footer> -->
        <!-- /.footer -->
        <section class="footer-bottom">
            <div class="container">
                <div class="pull-left copy-text">
                    <p>Copyrights © 2017 All Rights Reserved by <a href="#"> Olivia Tours.</a></p>

                </div>
                <!-- /.pull-right -->
                <div class="pull-right get-text">
                    <ul>
                        <li class="menu-active"><a href="#home">Home</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#why-us">Why Choose Us</a></li>
                        <li><a href="#destinations">Our Destinations</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.pull-left -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.footer-bottom -->

        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
        <!-- pre loader  -->
        <div class="preloader"></div>


        <!-- jQuery js -->
        <script src="/static/js/jquery.js"></script>
        <!-- bootstrap js -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- jQuery ui js -->
        <script src="/static/js/jquery-ui.js"></script>
        <!-- owl carousel js -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!-- jQuery validation -->
        <script src="/static/js/jquery.validate.min.js"></script>
        <!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
        <script src="/static/js/gmap.js"></script>
        <!-- mixit up -->
        <script src="/static/js/wow.js"></script>
        <script src="/static/js/jquery.mixitup.min.js"></script>
        <script src="/static/js/jquery.fitvids.js"></script>
        <script src="/static/js/bootstrap-select.min.js"></script>

        <!-- revolution slider js -->
        <script src="/static/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/static/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

        <!-- fancy box -->
        <script src="/static/js/jquery.fancybox.pack.js"></script>
        <script src="/static/js/jquery.polyglot.language.switcher.js"></script>
        <script src="/static/js/nouislider.js"></script>
        <script src="/static/js/jquery.bootstrap-touchspin.js"></script>
        <script src="/static/js/SmoothScroll.js"></script>
        <script src="/static/js/jquery.appear.js"></script>
        <script src="/static/js/jquery.countTo.js"></script>
        <script src="/static/js/jquery.flexslider.js"></script>
        <script src="/static/js/imagezoom.js"></script>
        <!-- theme custom js  -->
        <script id="map-script" src="/static/js/default-map.js"></script>
        <script src="/static/js/custom.js"></script>
        <script src="/static/contactform/contactform.js"></script>


    </div>

</body>
<script type="text/javascript">
    
    $(document).ready(function(){
        $(".alert").hide();

        $('#new_cntct').click(function()
        {
            var cntct_name = $('#cntct_name').val();
            var cntct_email = $('#cntct_email').val();
            var cntct_subjct = $('#cntct_subject').val();
            var cntct_mobile = $('#cntct_mobile').val();
            // alert(cntct_subjct);
            if(cntct_name == "" || cntct_email == "" || cntct_subjct == "" ||  cntct_mobile == "")
            {
                $(".alert").addClass("alert-warning").html("<strong>Warning! </strong> All fields are mandatory!.").fadeIn(300).fadeOut(6000);
            }
            else
            {

                var ajaxRequest= $.ajax({
                    'url': '/general/contact/',
                    'type': 'POST',
                    'data': {csrfmiddlewaretoken: '{{ csrf_token }}',name:cntct_name,email:cntct_email,subject:cntct_subjct,mob_no:cntct_mobile},
                    'dataType': 'json',
                    'async':false,
                });

                ajaxRequest.success(function(response)
                {
                    // console.log("successssssssssss",response);
                    

                    document.getElementById('contactForm').reset();
                    // $("#sendmessage").fadeIn(3000).fadeOut(3000);
                    $(".alert").addClass("alert-success").html("<strong>Success!</strong> Thank you for reached us!.").fadeIn(3000).fadeOut(3000);
                });
            }

        });
    });

</script>
</html>